---
import PageLayout from '@/layouts/PageLayout.astro'
import Container from '@/components/Container.astro'
import InlineLink from '@/components/InlineLink.astro'
import { BLOG } from '@/consts'
---

<PageLayout title={BLOG.TITLE} description={BLOG.DESCRIPTION}>
  <Container>
    <div class='space-y-4'>
      <h1 class='animate'>Blog</h1>
      <p class='animate'>
        이곳에서는 개발과 관련해 제가 겪은 경험과 배운 점, 그리고 유용한 개발 도구와 흥미로운 기술
        등등을 기록하고 있습니다.
      </p>
      <p class='animate'>
        찾으시는 게시물이 있으시다면 <InlineLink url='/blog'>여기서</InlineLink> 검색하실 수 있습니다.
      </p>
    </div>
  </Container>
</PageLayout>
