@font-face {
  font-family: 'Pretendard';
  src: url(/fonts/Pretendard-Black.subset.woff2) format('woff2');
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url(/fonts/Pretendard-ExtraBold.subset.woff2) format('woff2');
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url(/fonts/Pretendard-Bold.subset.woff2) format('woff2');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url(/fonts/Pretendard-SemiBold.subset.woff2) format('woff2');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url(/fonts/Pretendard-Medium.subset.woff2) format('woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url(/fonts/Pretendard-Regular.subset.woff2) format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url(/fonts/Pretendard-Light.subset.woff2) format('woff2');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url(/fonts/Pretendard-ExtraLight.subset.woff2) format('woff2');
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url(/fonts/Pretendard-Thin.subset.woff2) format('woff2');
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: 'Iosevka';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/SevkaFixed-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka';
  font-display: swap;
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/SevkaFixed-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka';
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/SevkaFixed-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka';
  font-display: swap;
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/SevkaFixed-BoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Serif';
  src: url('/fonts/NotoSerifCJKkr-ExtraLight-subset.woff2') format('woff2-variations');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Serif';
  src: url('/fonts/NotoSerifCJKkr-Regular-subset.woff2') format('woff2-variations');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Serif';
  src: url('/fonts/NotoSerifCJKkr-Bold-subset.woff2') format('woff2-variations');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
