@import 'tailwindcss';
@import 'tw-animate-css';
@import '@catppuccin/tailwindcss/mocha.css';

@import './fonts.css';

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--catppuccin-color-base);
  --color-foreground: var(--catppuccin-color-text);
  --color-card: var(--catppuccin-color-base);
  --color-card-foreground: var(--catppuccin-color-text);
  --color-popover: var(--catppuccin-color-base);
  --color-popover-foreground: var(--catppuccin-color-text);
  --color-primary: var(--catppuccin-color-blue);
  --color-primary-foreground: var(--catppuccin-color-base);
  --color-secondary: var(--catppuccin-color-surface0);
  --color-secondary-foreground: var(--catppuccin-color-text);
  --color-muted: var(--catppuccin-color-surface0);
  --color-muted-foreground: var(--catppuccin-color-subtext0);
  --color-accent: var(--catppuccin-color-surface0);
  --color-accent-foreground: var(--catppuccin-color-text);
  --color-destructive: var(--catppuccin-color-red);
  --color-border: var(--catppuccin-color-surface1);
  --color-input: var(--catppuccin-color-surface1);
  --color-ring: var(--catppuccin-color-blue);
  --color-chart-1: var(--catppuccin-color-blue);
  --color-chart-2: var(--catppuccin-color-green);
  --color-chart-3: var(--catppuccin-color-yellow);
  --color-chart-4: var(--catppuccin-color-peach);
  --color-chart-5: var(--catppuccin-color-teal);
  --color-sidebar: var(--catppuccin-color-mantle);
  --color-sidebar-foreground: var(--catppuccin-color-text);
  --color-sidebar-primary: var(--catppuccin-color-blue);
  --color-sidebar-primary-foreground: var(--catppuccin-color-base);
  --color-sidebar-accent: var(--catppuccin-color-surface0);
  --color-sidebar-accent-foreground: var(--catppuccin-color-text);
  --color-sidebar-border: var(--catppuccin-color-surface1);
  --color-sidebar-ring: var(--catppuccin-color-blue);

  --font-pretendard: 'Pretendard Variable', 'sans-serif';
  --font-sarasa-mono: 'Sarasa Mono K', 'monospace';
  --font-han-serif: 'Han Serif K', 'serif';
}

:root {
  --radius: 0.625rem;
}

@layer base {
  * {
    @apply border-border outline-ring/50 font-pretendard;
  }

  html,
  body {
    @apply size-full;
  }

  body {
    @apply bg-background text-foreground;
  }

  p {
    @apply font-han-serif;
  }
}
