---
import PageLayout from '@/layouts/PageLayout.astro'
import Container from '@/components/Container.astro'
import { HOME } from '@/consts'
---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <div class='space-y-24'>
      <section class='animate space-y-4'>
        <h1>개발자 임덕윤 입니다.</h1>
        <p>
          안녕하세요, 개발자 임덕윤(Duky8n)입니다. 프론트엔드 개발을 중심으로 활동하며, 웹 기술을
          깊이 사랑합니다. 웹 환경에서 사용자 경험과 성능을 동시에 만족시키기 위해 끊임없이
          고민하고, 기술에 대한 깊은 이해를 추구합니다. 어제보다 더 나은 자신을 위해 꾸준히 나아가는
          중입니다.
        </p>
        <p>
          이곳은 제 개인 개발 블로그로, 제가 공부한 내용과 진행 중인 프로젝트를 여러분과 함께 나누는
          공간입니다. 여러분의 관심에 감사드리며, 유익한 시간이 되시기 바랍니다.
        </p>
      </section>
      <section class='animate space-y-4'>
        <h2>Projects</h2>
      </section>
      <section class='animate space-y-4'>
        <h2>Blog posts</h2>
      </section>
    </div>
  </Container>
</PageLayout>
