---
import PageLayout from '@/layouts/PageLayout.astro'
import Container from '@/components/Container.astro'
import { Button } from '@/components/ui/button'
import { HOME } from '@/consts'
---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <h1 class='text-ctp-text text-3xl font-bold underline'>Hello world!</h1>
    <p>안녕 세상!</p>
    <pre class='font-sarasa-mono'>console.log('hello world')</pre>
    <Button>Button</Button>
    <pre>
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
      scroll
    </pre>
  </Container>
</PageLayout>
