---
import Container from '@/components/Container.astro'
import { Button } from '@/components/ui/button'
import { buttonVariants } from '@/components/ui/button'
import Logo from '@/components/Logo'
---

<header
  class='from-ctp-base via-ctp-base to-ctp-base/5 fixed top-0 right-0 left-0 z-50 bg-linear-to-b via-35% py-5 backdrop-blur-sm'
>
  <Container>
    <div class='flex flex-wrap items-center justify-between gap-y-2'>
      <Logo client:load />
      <nav class='flex translate-x-4 gap-1'>
        <a href='/blog' class={buttonVariants({ variant: 'ghost' })}> Blog </a>
        <a href='/projects' class={buttonVariants({ variant: 'ghost' })}> Projects </a>
      </nav>
    </div>
  </Container>
</header>
